<h3>Save a Video</h3>
<form id="save-video" action="/videos" method="post">
  <label for="title">Video Title</label>
  <input type="text" name="title" id="title-input">
  <label for="description">Description</label>
  <textarea type="text" name="description" id="description-input"></textarea>
  <textarea name=“description”>{{video.description}}</textarea>
  <label for="videoUrl">Video Url</label>
  <input id="videoUrl-input" name="videoUrl"/>
  <button id="submit-button" type="submit"></button>
</form>
